* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drafts {
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  max-width: max-content;
  max-height: 100px;
  overflow-y: hidden;

  transition: max-height 1s ease-in-out;
}

.container.expanded {
  max-height: 1500px;
}

.container div:last-child {
  border-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container div:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.entry {
  display: flex;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: fit-content;
  height: inherit;
  cursor: pointer;
}

.entry:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.smash-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding-bottom: 7px;
}
.sub-text {
  font-family: "Inter", sans-serif;
  opacity: 0.7;
  font-size: 13px;
  font-weight: 500;
}

.price {
  font-weight: 400;
  margin-left: 40px;
}

.button {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.button:hover {
  background-color: black;
  color: white;
  border-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
